@page
@model GsbApp.Pages.ExpenseReports.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ExpenceReport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ExpenceReport.IdExpenceReport" />
            <div class="form-group">
                <label asp-for="ExpenceReport.Date" class="control-label"></label>
                <input asp-for="ExpenceReport.Date" class="form-control" />
                <span asp-validation-for="ExpenceReport.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpenceReport.Document" class="control-label"></label>
                <input asp-for="ExpenceReport.Document" class="form-control" />
                <span asp-validation-for="ExpenceReport.Document" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpenceReport.AmountCheck" class="control-label"></label>
                <input asp-for="ExpenceReport.AmountCheck" class="form-control" />
                <span asp-validation-for="ExpenceReport.AmountCheck" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpenceReport.CheckDate" class="control-label"></label>
                <input asp-for="ExpenceReport.CheckDate" class="form-control" />
                <span asp-validation-for="ExpenceReport.CheckDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpenceReport.IdStatus" class="control-label"></label>
                <input asp-for="ExpenceReport.IdStatus" class="form-control" />
                <span asp-validation-for="ExpenceReport.IdStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpenceReport.IdCommercial" class="control-label"></label>
                <input asp-for="ExpenceReport.IdCommercial" class="form-control" />
                <span asp-validation-for="ExpenceReport.IdCommercial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpenceReport.IdFlateRateCategory" class="control-label"></label>
                <input asp-for="ExpenceReport.IdFlateRateCategory" class="form-control" />
                <span asp-validation-for="ExpenceReport.IdFlateRateCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
